{# Modal for character info #}
<div class="modal fade" id="characterDetails" tabindex="-1" role="dialog" aria-labelledby="characterDetailsLabel">
  <div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="characterDetailsLabel"></h2>
      </div>
      <div class="modal-body" id="character-detail-body"></div>

      {# Inserting modal content #}

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</div>