<div class="row placeholders characterModule">
	<h1 class="sub-header">Playable Characters</h1>
	{# search feature #}
	{% include 'search.html.twig' %}
	{# character grid #}
	{% include 'character_grid.html.twig' %}
</div>