<div class="row placeholders npcModule">
	<h1 class="sub-header">Antagonists and NPCs</h1>
    {# search feature #}
	{% include 'search.html.twig' %}
	{# character grid #}
	{% include 'character_grid.html.twig' %}
</div>